<div class="contact-page">

  <h1>Contact Us</h1>

  <p class="subtitle">
    Connect with OniManga through our social platforms
  </p>

  <div class="social-container">

    <a href="https://www.instagram.com/dikonn.aa?igsh=MW12a3E5bG1sMHRoNQ%3D%3D&utm_source=qr"
       target="_blank"
       class="social-card instagram">

      <img
      src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png">

      <span>Instagram</span>

    </a>


    <a href="https://wa.me/77470146307?text=Здравствуйте%20хочу%20связаться"
       target="_blank"
       class="social-card whatsapp">

      <img
      src="https://cdn-icons-png.flaticon.com/512/733/733585.png">

      <span>WhatsApp</span>

    </a>


    <a href="https://t.me/allym11" target="_blank" class="social-card telegram"
       target="_blank"
       class="social-card telegram">

      <img
      src="https://cdn-icons-png.flaticon.com/512/2111/2111646.png">

      <span>Telegram</span>

    </a>

  </div>
  <div class="location-section">

  <h2>Our Store Location</h2>

  <a
    href="https://2gis.kz/almaty/geo/70000001034505578/76.934757,43.233699"
    target="_blank"
    class="map-card"
  >

    <img
      src="https://images.unsplash.com/photo-1524661135-423995f22d0b?auto=format&fit=crop&w=1200&q=80"
      alt="Map"
    >

    <div class="map-overlay">
      <div class="pin">📍 OniManga Store</div>
      <p>Open in 2GIS</p>
    </div>

  </a>

</div>

</div>